h1{color:dimgray;;}
/*　h1 { color: #F0A050; }　*/

h2{color:burlywood;;}
/*　h2 { color: #F0A050; }　*/

h3{color: black;;}
/*　h1 { color: #F0A050; }　*/

p.sample1 {border: double 8px orange;}

body{background-color:cornsilk;}